@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
   margin: 0 auto;
   font-family: Roboto, sans-serif;
   background-color: #01497C;
   color: #EDDDD4;
   font-size: 24px;
   box-sizing: border-box;

}
.container{
   max-width: 48rem;
   padding: 0 1rem;
}
input{
   border: 2px solid #012A4A;
   border-radius: 4px;

}
input[type="number"]{
   -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
    background-color: #2C7DA0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
   
h1{
   text-align: center;
   font-size: 1.25em;
   padding: 18px;
   background-color:#012A4A;
   border-radius: 4px;
}
.container-calc{
   text-align: center;
   padding: 0.1em;
   display: flex;
   width: 85%;
   margin: 0.1em auto;
   justify-content: center;
}
.num-list{
   margin: 0.1em;

}
.calcular{
   margin: 0px;
   padding: 0.1em;
}
#text-calc{
   margin-bottom: 8px;
   padding: 8px;
   text-align: center;
}
.dropbtn{
   display: flex;
   width: 12.5rem;
   position: relative;
   border: 2px solid #012A4A;
   border-radius: 4px;
   margin-top: 4px;
}


.resultado, #result-function{
   text-align: center;
   justify-content: center;
   font-size: 1.75em;
   padding: 25px;
   font-weight: bold;
}

.lista-impuestos{
   padding: 8px;
   width: 100%;
   box-sizing: border-box;
}

#total-impuestos, .impuestos-calc{ 
   font-size: 1em;
}
.impuestos, li{
   list-style: none;
}
.lista-impuestos, .impuestos, #calc-iva, #calc-pais, #calc-pais, #calc-provincia, #calc-afip, ul, li, span{
   font-size: 0.75rem;  
   background-color: #012A4A;
   border: solid #012A4A;
   border-radius: 5px;
   list-style: none;
}

.impuestos{
   font-size: 24px;
}


span{
   font-size: 18px;
   color: #468FAF;
}
.dolar-hoy{
   margin-top: 20px;
   padding: 8px;
   width: 100%;
   box-sizing: border-box;
}
#dolar-hoy{
   margin-left: 40px;
}
#dolar-hoy, #dolar{
   font-size: .8rem ;
}

#dolar-hoy, #dolar, .dolar-hoy, #conversion{
   background-color: #012A4A;
   border: solid #012A4A;
   border-radius: 5px;
}
.dropdown-content {
   display: none;
   position: absolute ;
   min-width: 230px;
   max-width: 300px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   left: 27%;
   top: 24.5%;
   border-radius: 10px ;
   border: solid #01497C;
   background-color: #012A4A;

}
.dropdown-content a {
   padding: 12px 16px;
   text-decoration: none;
   position: relative;
   color: #EDDDD4;
   font-size: 18px;
   background-color: #012A4A;
 }

a:hover a:focus {
   background-color: #468FAF;
   font-size: 24px;
   animation: ease;
   transition: 0.2s;
   border-radius: 10px;
 }
.show {
   display: flex;
   position: absolute;
   right: 7em;
   flex-direction: column;
}
#result-function{
   text-align: center;
   justify-content: center;
   font-size: 40px;
   padding:10px;
   background-color: #01497C;
   border: none;
   color: #EDDDD4;
}

a:hover.disclaimer{
   background-color: #01497C;
   animation: none;
   font-size: 16px;
}
.disclaimer{
   margin-top: 2em;
   font-size: 14px;
   text-align: center;
}
@media (max-width:675px){
   .container-calc{
      flex-direction: column;
      width: 100%;
   }
   .num-list{
      margin: 0 auto;
      padding-bottom: 0.25em;
   }
   .calcular{
      width: 100%;
   }

   .dropdown-content{
      left: 37%;
      top: 26.5%;
   }
}